@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3lk4q');
  src:  url('fonts/icomoon.eot?3lk4q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3lk4q') format('truetype'),
    url('fonts/icomoon.woff?3lk4q') format('woff'),
    url('fonts/icomoon.svg?3lk4q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Experience:before {
  content: "\e915";
}
.icon-Project-done:before {
  content: "\e916";
}
.icon-Smile:before {
  content: "\e917";
}
.icon-Instagram:before {
  content: "\e909";
}
.icon-Linkedin:before {
  content: "\e90a";
}
.icon-Twitter:before {
  content: "\e90b";
}
.icon-Minus:before {
  content: "\e913";
}
.icon-Plus:before {
  content: "\e914";
}
.icon-Design-to-code:before {
  content: "\e912";
}
.icon-Arrow:before {
  content: "\e90d";
}
.icon-Cross:before {
  content: "\e90f";
}
.icon-Check:before {
  content: "\e90e";
}
.icon-Web-development:before {
  content: "\e910";
}
.icon-Landing-page:before {
  content: "\e911";
}
.icon-Github:before {
  content: "\e907";
}
.icon-External-link:before {
  content: "\e908";
}
.icon-React:before {
  content: "\e90c";
}
.icon-Figma:before {
  content: "\e906";
}
.icon-Css:before {
  content: "\e905";
}
.icon-Xd:before {
  content: "\e902";
}
.icon-Html:before {
  content: "\e903";
}
.icon-Photoshop:before {
  content: "\e904";
}
.icon-Backend:before {
  content: "\e900";
}
.icon-Contact:before {
  content: "\e901";
}
.icon-Designing:before {
  content: "\e94b";
}
.icon-Faq:before {
  content: "\e94c";
}
.icon-Frontend:before {
  content: "\e94d";
}
.icon-Home:before {
  content: "\e94e";
}
.icon-Javascript:before {
  content: "\e952";
}
.icon-Mysql:before {
  content: "\e953";
}
.icon-Php:before {
  content: "\e9d4";
}
.icon-Project:before {
  content: "\e9d5";
}
.icon-Services:before {
  content: "\e9db";
}
.icon-Skill:before {
  content: "\e9dc";
}
